<html>
${head}
<body>
<div id="content">
    <h1 id="title"><img id="logo" src="WASP-INF/img/logo.png"/>Todos</h1>
    <form method="post">
        <input class="inputForm" placeholder="Pseudo" name="pseudo" autofocus="">
        <input class="inputForm" placeholder="Password" name="password" autofocus="" type="password">
        <input class="submiter" type="submit" value="S'enregistrer">
    </form>
</div>
<p class="error">${error}</p>
<p>Si vous avez un compte vous pouvez vous <a href="welcome">connecter</a></p>
</body>
</html>